*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
    
    nav{
    background:#6a6a6a;
    }
body{
background-color:#000000 !important;
}
    .imgZapatillas{
    width:100%;
    }
    
    .imgCarrito{
    width:50px;
    }
    
    .botonAgregar{
    border-radius:50px;
    
    border:none;
    padding:10px;
    color: black;
    background:#6a6a6a;
    width:100%;
    font-size:1.2vw;
    transition: 0.3s;

    }
    
    
    
    .botonAgregar:hover{
        background:#e05c26;
        border:none;
        color:white;
        transition: 0.3s;
    }
    
    .precio{
    text-align: center;
    font-size:2vw;
    }
    
    .cartas{
    margin:10px;
    margin-top:20px;
    }
    
    .cartas2{
    border:black 2px solid;
    }

.cartaFiltro{
	width:19% !important;
}


  
    #carroIcono{
        border:none;
    }
    #carroIcono img{
        width: 100%;
    }

    .remover{
        border-radius: 50px;
        width: 25px;
        background-color: rgb(255, 255, 255);
        color:rgb(247, 4, 4);
border:none;
        transition: 0.3s;
    }

    .remover:hover{
        background-color: rgb(247, 4, 4);
        color:rgb(241, 241, 241);
        transition: 0.3s;
    }
    .bodyCarrito{
        width:44% !important;
      
    }
    .bodyCarrito div{
        padding: 0;
        
    }
    #carritodecompras{
        width: 100%;
        
    }

    #totalCompra{
        font-size: 2vw;
        background-color:#e05c26;
        padding:10px;
    }

.cuerpo{
  background:#6a6a6a;
}

#boton-vaciar{
margin: 10px;
}


.logo{
    width: 100%;
}

.carroIcono a{
    width: 15%;
}



.botonFiltro{
background:none;
color:white;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
transition: 0.25s;
}

.botonFiltro:hover{
  color: #e05c26;
}
.botonFiltro2:focus{
color: #e05c26;
}
.contenedorBotones{
	margin-top: 20px;
}



.footer{
    background:#6a6a6a;
    }
    .footer2{
    background-color:#e05c26 !important;
    }


.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  	transform: translateY(-0.25em);
}
.raise {
   --hover: #e05c26;
}

.raisee:hover
{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  	transform: translateY(-0.25em);
}
.raisee {
   --hover: #e05c26;
}


.contenedorCarrito{
background:#949292;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  